<?xml version="1.0"?>
<phpunit>
 <testsuites>
 <testsuite name="tests">
 <directory>tests</directory>
 </testsuite>
 </testsuites>
 <filter>
 <whitelist processUncoveredFilesFromWhitelist="true">
 <file>tests/ApplicantTest.php</file>
  <file>tests/CategoryTest.php</file>
   <file>tests/EnquiryTest.php</file>
    <file>tests/JobTest.php</file>
     <file>tests/LoginTest.php</file>
      <file>tests/RegistrationTest.php</file>
 </whitelist>
</filter>
</phpunit>